@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-3 p-1 box-shadow" id="pending">asdf</div>
    <div class="col-3 p-1" id="in_progress">fdsa</div>
    <div class="col-3 p-1" id="blocked">dfsf</div>
    <div class="col-3 p-1" id="done">ff</div>
</div>

