body {
    background-color: skyblue !important;
}
.box-shadow {
    box-shadow: 0 0 10px 0 rgb(6 30 98 / 30%);
}
.content{
    min-height:15px;
}
.max-vh {
    max-height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
}