@model MoanaSoftwareTrello.Models.User

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Register";
}

<div id="main-wrapper">
    <div class="container">
        <div class="row g-0 min-vh-80 py-4 py-md-5">
            <div class="col-lg-7 shadow-lg">
                <div class="hero-wrap d-flex align-items-center rounded-3 hero-right-border-radius h-100">
                    <div class="hero-mask bg-wrap bg-primary"></div>
                    <div class="hero-bg bg-wrap" style="background-image: url('/images/login-bg.jpg');"></div>
                    <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
                        <div class="row g-0">
                        </div>
                        <div class="row g-0 my-auto">
                            <div class="col-11 col-lg-10 my-5 mx-auto">
                                <h1 class="text-11 text-white mb-3">Welcome to MoanaSoftwareTrello!</h1>
                                <p class="text-5 text-white lh-base mb-4">Please Sign up or Login</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 shadow-lg d-flex align-items-center rounded-3 hero-left-border-radius bg-dark">
                <div class="container my-auto py-5">
                    <div class="row">
                        <div class="col-11 col-lg-10 mx-auto">
                            <h3 class="text-white text-center mb-4">Sign Up</h3>
                            <form asp-action="Register" class="form-dark">
                                <div class="text-danger">@ViewBag.ErrorMessage</div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label text-light">Email Address</label>
                                    <input asp-for="Email" type="email" class="form-control" required placeholder="Enter Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label text-light" asp-for="Password">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" required placeholder="Enter Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="mb-3 mt-4">
                                    <div class="form-check text-2">
                                        <input id="agree" name="agree" class="form-check-input" type="checkbox" required>
                                        <label class="form-check-label text-light" for="agree">I agree to the Terms and Privacy Policy.</label>
                                    </div>
                                </div>
                                <div class="d-grid my-4">
                                    <button class="btn btn-primary" type="submit">Sign Up</button>
                                </div>
                            </form>
                            <div class="d-flex align-items-center my-3">
                                <hr class="flex-grow-1 bg-dark-4">
                            </div>
                            
                            <p class="text-2 text-center text-light">Already have an account? <a asp-action="Index">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
